<h1>
  About
</h1>

<table>
  <tr>
    <td>
      Angular 2
    </td>
    <td>
      <a href="https://angular.io/">https://angular.io/</a>
    </td>
  </tr>
  <tr>
    <td>
      Keycloack
    </td>
    <td>
      <a href="http://www.keycloak.org/">http://www.keycloak.org/</a>
    </td>
  </tr>
  <tr>
    <td>
      trion development GmbH
    </td>
    <td>
      <a href="https://www.trion.de/">https://www.trion.de/</a>
    </td>
  </tr>
  <tr>
    <td>
      GitHub
    </td>
    <td>
      <a href="">tbd</a>
    </td>
  </tr>
</table>
